* {
  font-family: "Inter";
  color: #f1f1f1;
  background-color: #222;
}

.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  h2 {
    font-size: 1.5rem;
    padding-top: 4rem;
  }
  h3 {
    font-size: 2rem;
  }
  .spacer {
    height: 6rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  .spacer {
    height: 4rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  .spacer {
    height: 4rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 3rem;
  }
  .spacer {
    height: 4rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 4rem;
  }
  .spacer {
    height: 4rem;
  }
}
